 body{
    margin: 0;
    padding: 0;
 }

.content {
    font-family: "Segoe UI", sans-serif;
    background: #f5f6fa;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
     background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("img3.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    }

    h1 {
      color: #ffffff;
    }

    form {
      background: #ffffff45;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      width: 300px;
      margin-bottom: 20px;
    }

input {
  width: 90%;
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: all 0.3s ease;
    }

input:focus {
  border-color: #00c3ff;
  box-shadow: 0 0 10px rgba(0, 195, 255, 0.5);
  background: rgba(255, 255, 255, 0.15);
}

label {
  font-size: 15px;
  font-weight: 600;
  color: #f1f1f1;
  letter-spacing: 0.5px;
}

button {
  background: linear-gradient(135deg, #00c3ff, #0078ff);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  margin-top: 10px;

    }

button:hover {
  background: linear-gradient(135deg, #0078ff, #00c3ff);
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 195, 255, 0.4);
}

 #output {
      width: 90%;
      max-width: 700px;
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      white-space: pre-line;
      overflow-y: auto;
      max-height: 400px;
      display: none;
      
}
 

footer{
        text-align: center;
        background-color: gray;
        color: rgb(200, 198, 198);
      
        padding: 5px;
        
    }

#simulateBtn{
    margin-bottom: 10px;
    
}









